<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="header">
</head>
<body>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        角色管理
        <small>新增</small>
    </h1>
</section>

<!-- Main content -->
<!-- Horizontal Form -->
<div class="box box-info">
    <form class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <label for="inputRoleName" class="col-sm-2 control-label">角色名称</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputRoleName" placeholder="角色名称">
                </div>
            </div>
            <div class="form-group">
                <label for="inputRoleDesc" class="col-sm-2 control-label">角色描述</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputRoleDesc" placeholder="角色描述">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">是否启用</label>
                <div class="col-sm-10">
                    <select name="enable" class="form-control" id="enable">
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="button" class="btn btn-default">取消</button>
            <button type="button" id="addRoleBtn" class="btn btn-primary">新增</button>
        </div>
        <!-- /.box-footer -->
    </form>
</div>
<!-- /.box -->

<!-- /.content -->
</body>
<div th:include="footer"></div>
<script>
    $('#addRoleBtn').on('click', function () {
        var _roleName = $.trim($('#inputRoleName').val());
        var _roleDesc = $.trim($('#inputRoleDesc').val());
        var _roleEnable = $('#enable').val();
        $.post('/role/add', $.param({
            roleName: _roleName,
            roleDesc: _roleDesc,
            roleEnable: _roleEnable
        }, true), function (data) {
            if (data.code == 1) {
                alert('success');
                window.location.href = '/role/index';
            } else {
                alert(data.message);
            }
        });

    });
</script>
</html>